    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" title="uiCookies:FineOak">YEFER</a>
          </div>
  
          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#" data-nav-section="welcome">Inicio</a></li>
              <li><a href="#" data-nav-section="specialties">Sobre mí</a></li>
              <li><a href="#" data-nav-section="menu">Hablidades</a></li>
              <li><a href="#" data-nav-section="reservation">Experiencia</a></li>
              <li><a href="#" data-nav-section="events">Contacto</a></li> 
            </ul>
          </div>
        </div>
      </nav>

      <section class="flexslider" data-section="welcome">
        <ul class="slides">
          <li style="background-image: url(assets/img/hero_bg_1.jpg)" class="overlay" data-stellar-background-ratio="0.5">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                    <h1 class="primary-heading">Ingeniero</h1>
                    <h3 class="secondary-heading">Sistemas</h3>
                    <p class="sub-heading"> FullStack </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
       
          <li style="background-image: url(assets/img/hero_bg_3.jpg)" class="overlay">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                    <h1 class="primary-heading">Esteban</h1>
                    <h3 class="secondary-heading">Gonzalez</h3>
                    <p class="sub-heading"> Desarrollador WEB / APP  </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>