<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-5 text-center probootstrap-animate">
          <div class="probootstrap-heading dark">
            <h1 class="primary-heading">Sobre</h1>
            <h3 class="secondary-heading">Mí</h3>
            <span class="seperator">* * *</span>
          </div>
          <h5>  Ingeniero de Sistemas, He desarrollado proyectos 
              digitales usando tecnologías web para todo tipo de empresas y negocios en Colombia.
            Tengo conocimiento en tecnologías y temas como: Javascript (NodeJs, PWA, ReactJs), 
            Python (Django, Flask), PHP (Laravel), ShellScript, Bases de datos 
            (PostgreSQL, MySQL, SQLite, MongoDB, SQLServer), CSS3 (SASS, LESS)
            , Diseño (Photoshop, Illustrator, Adobe XD), Cloud (AWS, Digital Ocean)
            , API RestFull, Arquitecturas orientada a servicios (SOA).</h5>
          <p><a href="#" class="probootstrap-custom-link">SABER MAS...</a></p>
        </div>
        <div class="col-md-6 col-md-push-1 probootstrap-animate">
          <p><img src="assets/img/pexels-photo-2102416.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
        </div>
      </div>
      <!-- END row -->
    </div>
  </section>

  <section class="probootstrap-section-bg overlay" style="background-image: url(assets/img/11.jpeg);" data-stellar-background-ratio="0.5" data-section="specialties">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center probootstrap-animate">
          <div class="probootstrap-heading">
            <h2 class="primary-heading">Areas de</h2>
            <h3 class="secondary-heading">DESARROLLO</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="probootstrap-cell-retro">
          <div class="half">

            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
              <div class="text text-center">
                <h3>DESARROLLO WEB / MOVIL</h3>
                <p>Desarrollo FRONT-END y BACK-END.</p>
                <p class="price">$20.99</p>
              </div>
            </div>
            <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background-image: url(img/img_square_2.jpg);"></div>
              <div class="text text-center">
                <h3>CIBERSEGURIDAD</h3>
                <p>Cursos / Conocimiento en ISO / 70001 , Auditorias y demás..</p>
                <p class="price">$19.99</p>
              </div>
            </div>
            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background-image: url(img/img_square_3.jpg);"></div>
              <div class="text text-center">
                <h3>BASE DE DATOS </h3>
                <p> Conocimiento en area BD ,Bussiness Inteligence,Big data,Procesos ETLs,Analisis BD. </p>
                <p class="price">$20.99</p>
              </div>
            </div>

          </div>
          <div class="half">

            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background-image: url(img/img_square_4.jpg);"></div>
              <div class="text text-center">
                <h3>Roast Beef (4 sticks)</h3>
                <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                <p class="price">$32.99</p>
              </div>
            </div>
            <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background-image: url(img/img_square_5.jpg);"></div>
              <div class="text text-center">
                <h3>Tuna Roast Source</h3>
                <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                <p class="price">$25.99</p>
              </div>
            </div>
            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
              <div class="text text-center">
                <h3>Fried Potatoes with Garlic</h3>
                <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                <p class="price">$32.99</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>